<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>it's in the detail</title>

    <link rel="stylesheet" href="/styles/style.css">
    <script src="/scripts/scripts.js" type="text/javascript"></script>
    <div class="dropdown">
        <button class="dropbtn"></button>
        <div class="dropdown-content">
            <a href="/">view <br> elements</a>
            <a href="/register">create <br> account</a>
            <a href="/login">your <br> page</a>
        </div>
    </div>
    <div class="scroll-down"></div>
    <div class="myBtnContainer">
        <button class="btn_class" onclick="filterSelection('all')">all</button>
        <button class="btn_class" onclick="filterSelection('scroll')"> scroll</button>
        <button class="btn_class" onclick="filterSelection('cursor')"> cursor</button>
        <button class="btn_class" onclick="filterSelection('loading')"> loading</button>
        <button class="btn_class" onclick="filterSelection('circle')"> circle</button>
    </div>


</head>

<body>

    <!-- 
    <div class='loaderbackground' id="page-content">
        <div class='loader'>
            <p>it's all in the detail</p>
        </div>
    </div>
    <div id="loader"></div>

    <div class='quote_container'>
        <div class='quote'>

        </div>
    </div> -->

    <div class="header_container">
        <div class="header_text">
            <p> it's all in the detail</p>
        </div>
    </div>


    <!-- <div class='flexcontainer'>

        <div class="snippet_home"><a href="/snippet1"><img src="snippet1.gif"></a></div>
        <div><a href="/snippet2"><img src="snippet2.gif"></a></div>
        <div><a href="/snippet3"><img src="snippet3.gif"></a></div>
        <div><a href="/snippet4"><img src="snippet4.gif"></a></div>
        <div><a href="/snippet5"><img src="snippet5.gif"></a></div>
        <div><a href="/snippet6"><img src="snippet6.gif"></a></div>


    </div> -->


    <div class='flexcontainer'>
        <div class="row">
            <div class="content">
                <div class="column all"><a href="/snippet1"><img src="snippet1.gif"></a></div>
            </div>
        </div>
        <div class="row">
            <div class="content">
                <div class="column all scroll"><a href="/snippet2"><img src="snippet2.gif"></a></div>
            </div>
        </div>
        <div class="row">
            <div class="content">
                <div class="column all scroll"><a href="/snippet3"><img src="snippet3.gif"></a></div>
            </div>
        </div>
        <div class="row">
            <div class="content">
                <div class="column all cursor"><a href="/snippet4"><img src="snippet4.gif"></a></div>
            </div>
        </div>
        <div class="row">
            <div class="content">
                <div class="column all cursor"><a href="/snippet5"><img src="snippet5.gif"></a></div>
            </div>
        </div>
        <div class="row">
            <div class="content">
                <div class="column all cursor"><a href="/snippet6"><img src="snippet6.gif"></a></div>
            </div>
        </div>
        <div class="row">
            <div class="content">
                <div class="column all cursor"><a href="/snippet7"><img src="snippet7.gif"></a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="content">
                <div class="column all loading"><a href="/snippet8"><img src="snippet2.gif"></a></div>
            </div>
        </div>
        <div class="row">
            <div class="content">
                <div class="column all loading"><a href="/snippet9"><img src="snippet3.gif"></a></div>
            </div>
        </div>
        <div class="row">
            <div class="content">
                <div class="column all loading"><a href="/snippet10"><img src="snippet2.gif"></a></div>
            </div>
        </div>


    </div>






</body>

</html>