<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>snippet1</title>
    <link rel="stylesheet" href="/styles/style.css">
    <a class='back_to_home' href="/">
        <<</a> </div> </head> <!-- <link rel="shortcut icon" type="image/png" href="/style/favicon.png"> -->

</head>

<body>

    <div class="flexcontainer">
        <div class="columncontainer1">
            <form method="POST" action="/snippet1">
                <img src="snippet3.gif">
                <div>this is a snippet</div>
                <input type="hidden" name="id" value="1" />
                <input type="hidden" name="text" value="this is a snippet" />
                <input type="submit" value="add to favorites" />
            </form>

        </div>


</body>

</html>