<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>snippet1</title>
    <link rel="stylesheet" href="/styles/style.css">
    <!-- <link rel="shortcut icon" type="image/png" href="/style/favicon.png"> -->
    <a class='back_to_home' href="/">
        <<</a> </div> </head> <body>
            <!-- <form class='form' method="POST" action="/results"> -->
            <!-- <h1 class="intro"> snippet1 </h1> -->

            <div class="flexcontainer">
                <div class="columncontainer1">
                    <form method="POST" action="/snippet1">
                        <img src="snippet1.gif">
                        <div>this is a snippet</div>
                        <input type="hidden" name="id" value="1" />
                        <input type="hidden" name="text" value="this is a snippet" />
                        <input type="submit" value="add to favorites" />
                    </form>

                </div>




                </body>

</html>

<!-- from codepen -->
<!-- <p class="codepen" data-height="265" data-theme-id="0" data-default-tab="css,result" data-user="seanfree"
        data-slug-hash="GaPbVm"
        style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;"
        data-pen-title="Spiral III">
        <span>See the Pen <a href="https://codepen.io/seanfree/pen/GaPbVm/">
                Spiral III</a> by Sean Free (<a href="https://codepen.io/seanfree">@seanfree</a>)
            on <a href="https://codepen.io">CodePen</a>.</span>
    </p> -->